# node_modules
appeal-service/node_modules

# dist
appeal-service/dist

# env
appeal-service/.env.dev
appeal-service/.env.prod

# test
appeal-service/src/test

# jest.config
appeal-service/jest.config.ts